//-----------------------------------------------[Eric Meyer Reset]

/* http://meyerweb.com/eric/tools/css/reset/ 
	 v2.0 | 20110126
	 License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//-----------------------------------------------[Generators]
@mixin setColWidth($num,$col,$gutter){
	width:($num*$col + $num*$gutter);
}
@mixin setColHeight($num,$col,$gutter){
	height:($num*$col + $num*$gutter);
}
@mixin setBoxWidth($num,$col,$gutter){
	width:($num*$col + $num*$gutter - $gutter);
}
@mixin setBoxHeight($num,$col,$gutter){
	height:($num*$col + $num*$gutter - $gutter);
	margin-top:($gutter/2);
	margin-bottom:($gutter/2);
}
@mixin setGridContainerWidth($num,$col,$gutter,$divide:1){
	width:($num*$col/$divide + $num*$gutter/$divide);
}
@mixin setGridContentWidth($num,$col,$gutter,$divide:1){
	width:($num*$col/$divide + $num*$gutter/$divide);
}
@mixin mobileGridReset(){
	width:100%;
	.gridContent{
		width:100%;
		.column{
			width:100%;
			.box{
				width:auto;
				float:none;
				clear:both;
				position: relative;
				margin-left:10px;
				margin-right:10px;
			}
		}
		.column.half,
		.column.quarter,
		.column.third{
			.box{
				position: relative;
			}
		}
	}
}

@mixin generate($num,$col,$gutter,$divide:1){
	.col#{$num}{
		@include setGridContentWidth($num,$col,$gutter,$divide);
		@for $i from 1 through $num{
			.colwide#{$i}{
				@include setColWidth(ceil($i/$divide),$col,$gutter);
			}
			.box{
				margin-left:($gutter/2);
				margin-right:($gutter/2);
			}
			.wide#{$i}{
				@include setBoxWidth(ceil($i/$divide),$col,$gutter);
			}
			.colhigh#{$i}{
				@include setColHeight(ceil($i/$divide),$col,$gutter);
			}
			.high#{$i}{
				@include setBoxHeight(ceil($i/$divide),$col,$gutter);
			}
		}
		.column.half{
			width:50%;
			.box{
				position:absolute;
				left:0px;
				right:0px;
				width:auto;
			}
		}
		.column.quarter{
			width:25%;
			.box{
				position:absolute;
				left:0px;
				right:0px;
				width:auto;
			}
		}
		.column.third{
			width:33%;
			width: calc(100%/3);
			.box{
				position:absolute;
				left:0px;
				right:0px;
				width:auto;
			}
		}
	}
}
//-----------------------------------------------[Basic Structure]
.column{
	position:relative;
	float:left;
	box-sizing: border-box;
	min-height: 1px;
}
.box {
	position:relative;
	float:left;
	box-sizing: border-box;
	min-height: 1px;
}
.fullWidth{
	width:100%;
	position:relative;
	float:left;
	background-position: top;
	background-repeat: no-repeat;
}
.gridContainer{
	margin-left:auto;
	margin-right:auto;
	float:none;
}
.gridContent{
	float:left;
	position:relative;
}
//-----------------------------------------------[Default / Desktop]

.gridContainer{
	@include setGridContainerWidth(12,60px,20px);
	@include generate(12,60px,20px);
	@include generate(16,40px,20px);
}

.hideOnDesktop{
	display:none !important;
}
.showOnDesktop{
	display:block !important;
}


//-----------------------------------------------[Tablet]
@media (max-width: 980px) {
	.fullWidth{
		.gridContainer{
			@include setGridContainerWidth(12,220px,20px,4);
			@include generate(12,220px,20px,4);
			@include generate(16,160px,20px,4);
		}
	}
	.hideOnTablet{
		display:none !important;
	}
	.showOnTablet{
		display:block !important;
	}
}

//-----------------------------------------------[Mobile]
@media (max-width: 720px) {
	.fullWidth{
		.gridContainer{
			@include mobileGridReset();
		}
	}
	.hideOnMobile{
		display:none !important;
	}
	.showOnMobile{
		display:block !important;
	}
}

//-----------------------------------------------[IE Fixes]
.ie6, .ie7, .ie8, .ie9{
	body{
		#page{
			display:table;
			height:100%
		}
	}
	.gridContainer{
		overflow:visible !important;
	}
}
.ie6, .ie7{
	body .gridContainer {
		overflow: visible !important;
	}
	body #page {
		display: table;
		height: auto;
	}
	body #content {
		margin-bottom: 0px !important;
	}
	body #footer {
		min-height: 0px !important;
		margin-top: 0px !important;
		height: 350px;
	}
}




//-----------------------------------------------[Fixed Header - put header after page - replace 100px with your header's height]
/*
html{
	body{
		#header{
			position:fixed;
			top:0px;
			height:100px;
		}
	}
}
*/

//-----------------------------------------------[Floating Footer - replace 100px with your footer's height]
/*
html{
	height: 100%;
	body{
		height: 100%;
		#header{
		
		}
		#page{
			min-height:100%;
			#content{
				margin-bottom:100px;
			}
		}
		#footer{
			height:100px;
			margin-top:-100px;
		}
	}
}
*/